<%- include top.ejs %>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Usuário:</label>
    <input
      id="username"
      name="username"
      type="text"
      class="form-control"
      placeholder="Digite seu usuário"
    />
  </div>
  <div class="form-group">
    <label for="password">Senha:</label>
    <input
      id="password"
      name="password"
      type="password"
      class="form-control"
      class="form-control"
      placeholder="Digite sua senha"
    />
  </div>
  <input type="submit" value="Login" class="btn btn-primary" />
</form>
<% if(message) { %>
<div class="alert alert-danger">
  <%= message %>
</div>
<%}%>
<hr />
<div class="text-center">
  <a href="/users/forgot" class="btn btn-link">Esqueceu sua senha?</a> |
  <a href="/users/signup" class="btn btn-link">Não possui cadastro?</a>
</div>
<%- include botton.ejs %>
