<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= messages.index.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= messages.index.title %></h1>
    <p><%= messages.index.description %></p>
    <a href="/clientes"><%= messages.cliente.lista.title %></a>
  </body>
</html>


